<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="http://localhost:8080/styles/outpass_final.css">
        <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&family=Varela+Round&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">            
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
        <script>
            function Home(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Home.html');
            }

            function changepassword(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Change_password.html');
            }

            function logout(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Login.html');
            }

            function showdiv(){
                document.getElementById('profile-box').style.height ="60%";
                document.getElementById('profile-img').style.display='flex';
                document.getElementById('profile-info').style.display='block';
                document.getElementById('darkmode').style.display='grid';

            }

            window.onload = function(){
                var hidediv = document.getElementById('profile-box');
                var profile = document.getElementById('profile-img');
                var info = document.getElementById('profile-info');
                var darkmode = document.getElementById('darkmode');

                document.onclick = function(div){
                    if(div.target.id!='box2' && div.target.id!="profile" && div.target.className!='info' && div.target.id!="darkmode" && div.target.className!='switch' && div.target.className!='theme-switch' && div.target.id!='slider' && div .target.id!='checkbox' && div.target.className!='change-password' && div.target.id!='logout-btn'){
                        hidediv.style.height='0';
                        profile.style.display='none';
                        info.style.display='none';
                        darkmode.style.display='none';
                    }
                }
            }

            function enablebtn(){
                var check=document.getElementById("disable-checkbox");

                if(check.checked){
                    document.getElementById("submit-button").disabled=false;
                    document.getElementById("submit-button").style.backgroundImage="linear-gradient(-90deg, var(--topbar-light-color1) 0%, var(--green3) 100%)";
                    document.getElementById("submit-button").style.boxShadow="0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
                }
                else{
                    document.getElementById("submit-button").disabled = true;
                    document.getElementById("submit-button").style.backgroundImage="none";
                    document.getElementById("submit-button").style.boxShadow="none";
                }
            }
            function showoutpass(){
                document.getElementById('status-body').style.display='none';
                document.getElementById('outpass-body').style.display='grid';
                document.getElementById('status-btn').style.background="var(--options-background)";
                document.getElementById('remaining').style.borderTopLeftRadius="0px";
                document.getElementById('status-btn').style.borderTop="1px solid #c3c6d1";
                document.getElementById('status-btn').style.borderBottom="1px solid #c3c6d1";
                document.getElementById('status-btn').style.borderLeft="1px solid #c3c6d1";
                document.getElementById('remaining').style.borderLeft="none";
                document.getElementById('outpass-btn').style.borderBottom="3px solid #1e90ff";
                document.getElementById('status-btn').style.borderBottom="none";
                document.getElementById('outpass-btn').style.borderLeft="none";
                document.getElementById('outpass-btn').style.background="none";
                document.getElementById('outpass-btn').style.borderTop="none";
                document.getElementById('outpass-btn').style.borderRight="none";
                document.getElementById('outpass-btn').style.fontWeight="bold";
                document.getElementById('status-btn').style.fontWeight="normal";
                document.getElementById('remaining').style.borderLeft="1px solid #c3c6d1";
            }

            function showstatus(){
                document.getElementById('status-body').style.display='grid';
                document.getElementById('outpass-body').style.display='none';
                document.getElementById('outpass-btn').style.background="var(--options-background)";
                document.getElementById('outpass-btn').style.borderTop="1px solid #c3c6d1";
                document.getElementById('outpass-btn').style.borderRight="1px solid #c3c6d1";
                document.getElementById('status-btn').style.borderBottom="3px solid #1e90ff";
                document.getElementById('outpass-btn').style.borderBottom="none";
                document.getElementById('status-btn').style.background="none";
                document.getElementById('status-btn').style.borderTop="none";
                document.getElementById('status-btn').style.borderLeft="none";
                document.getElementById('status-btn').style.borderRight="none";
                document.getElementById('remaining').style.borderTopLeftRadius="8px";
                document.getElementById('remaining').style.borderLeft="1px solid #c3c6d1";
                document.getElementById('outpass-btn').style.fontWeight="normal";
                document.getElementById('status-btn').style.fontWeight="bold";
            }
            
            function Complaints(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Complaints.html');
            }

            function darkmode(){
                var element= document.body;

                element.classList.toggle('dark-theme-body');
            }
        </script>

    </head>
    <body>
        <!-- <div id="background"></div> -->
        <div id="top-navbar">
            <div id="image-holder">
                <div id="logo"></div>
            </div>
            <div id="content-holder">
                <div id="social-media"></div>
                <div id="slanted-item">
                    <div id="menu-1">
                        <div id="menu-container">
                            <a class="menu" href="/home" >HOME</a>
                            <a class="menu" href="/complaintscategory">COMPLAINTS</a>
                            <a class="menu">OUTPASS</a>
                        </div>
                    </div> 

                    <div id="profile" onclick="showdiv()">
                        <i class='fas fa-user fa-2x' style="pointer-events: none;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="profile-box">
            <div id="box2">
                <div id="profile-img">
                    <i class='fas fa-user-edit' style='font-size:90px;color:white'></i>
                </div>
                <form>
                    <div id="profile-info">
                        <div class="info" style="font-size:25px;"><%=pname%></div>
                        <div class="info"><%=prollno%></div>
                        <div class="info">Personal Contact No. : <%=ppenum%></div>
                        <div class="info">Parent contact no. :<%=ppanum%></div>
                    </div>
                </form>
                <div id="darkmode">
                    <div id="darkmode-div">
                        <div class="darkmode-font">Light</div>
                        <div class="switch">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div id="slider" onclick="darkmode()"class="slider round"></div>
                            </label>
                        </div>
                        <div class="darkmode-font">Dark</div>
                    </div>

                    <a class="change-password" href="/changepassword">Change Password</a>
                

                    
                        <div class="logout">
                            <a href="/start" id="logout-btn">LOGOUT</a>
                        </div>
                </div>
            </div>
        </div>
        <div id="background-div1"></div>
        <div id="grid-up"></div>
        <div id="maindiv">
            <div id="main-box" data-aos="fade-left" data-aos-duration="1000" data-aos-ease="ease-out">
                <div id="main-box-container">
                    <div id="main-header">
                        <div id="header-close-link">
                            <!-- <div id="header-close-min-max"> -->
                                <!-- <div class="buttons">
                                    <span class="material-symbols-outlined" style="color:#EC6A5F;z-index: 0;">
                                        fiber_manual_record
                                        </span>
                                </div>
                                <div class="buttons">
                                    <span class="material-symbols-outlined" style="color:#F4BF50;z-index: 0;">
                                        fiber_manual_record
                                        </span>
                                </div>
                                <div class="buttons">
                                    <span class="material-symbols-outlined" style="color: #61c454;z-index: 0;">
                                        fiber_manual_record
                                        </span>
                                </div>
                                <div class="arrows">
                                    <i class='fas fa-angle-left' style='font-size:18px'></i>

                                </div>
                                <div class="arrows">
                                    <i class='fas fa-angle-right' style='font-size:18px'></i>

                                </div>
                            </div>
                            <div class="buttons">
                                <div id="link">
                                    <div id="link-grid">
                                        <div id="lock"><i class='fas fa-lock' style='color:#a5abbb;'></i></div>
                                        <div id="clg-link">IIITDharwad.com</div>
                                    </div>
                                    </div>
                            </div>
                            <div class="buttons">
                                <i class="material-icons">&#xe5c3;</i>
                            </div> -->
                        </div>
                        <div id="options">
                            <div id="outpass-btn" onclick="showoutpass()">OUTPASS</div>
                            <div id="status-btn" onclick="showstatus()">STATUS</div>
                            <div id="remaining"></div>
                        </div>
                    </div>
                    <form action="/outpasssubmit" method="POST">
                    <div id="outpass-body">
                        <div class="outpass-content">
                            <div class="center-content">Student Details</div>
                            <div class="center-content">
                                <select name="year">
                                    <option >Please select a year</option>
                                    <option value="1st Year">1st Year</option>
                                    <option value="2nd Year">2nd Year</option>
                                    <option value="3rd Year">3rd Year</option>
                                    <option value="4th Year">4th Year</option>
                                </select>
                            </div>
                            <div class="center-content">
                                <select name="branch">
                                    <option>Please select your Branch</option>
                                    <option value="CSE">Computer Science and Engineering</option> 
                                    <option value="ECE">Electronics and Communication Engineering</option>
                                    <option value="DSAI">Data Science and Artificial Intelligence</option>
                                </select>
                            </div>
                        </div>
                        <div class="outpass-content">
                            <div class="center-content">Date of Arrival and Departure</div>
                            <div class="center-content">
                                <input type="date" class="date" placeholder="Date of Departure" name="departure">
                                <input type="time" class="time" placeholder="Date of Departure" name="departuretime">

                            </div>
                            <div class="center-content">
                                <input type="date" class="date" placeholder="Date of Departure" name="arrival">
                                <input type="time" class="time" placeholder="Date of Departure" name="arrivaltime">

                            </div>
                        </div>
                        <div class="outpass-content">
                            <div class="reasons" >Reasons</div>
                            <div id="reasons">
                                <input type="text" name="reason" id="specify-reason" placeholder="Reasons">
                            </div>
                        </div>
                        <div class="outpass-content1">
                            <div id="submit-box">
                                <input id="disable-checkbox" type="checkbox" onclick="enablebtn()" notchecked/>
                                <div class="center-all">
                                    <a style="color:var(--options-inactive);">I agree to the terms and conditions</a>
                                </div>
                                <div class="center-all" style="justify-content:var(--justify-content-end);">
                                    <button type="submit" id="submit-button" disabled>SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="status-body">
                        <div class="status-content">
                            <div class="center-content">Faculty Advisor</div>
                            <div class="center-content1">
                                <div class="faculty-container">
                                    <div class="faculty-box"><%=facultyadvisorname%></div>
                                </div>
                                <div class="actions">
                                    <div class="center">
                                        <span class="material-symbols-outlined">
                                            pending_actions
                                        </span>
                                    </div>
                                    <div class="center-all">
                                        <%=faculty1res%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="status-content">
                            <div class="center-content">Hostel Warden</div>
                            <div class="center-content1">
                                <div class="faculty-container">
                                    <div class="faculty-box">Aswath Babu</div>
                                </div>
                                <div class="actions">
                                    <div class="center">
                                        <span class="material-symbols-outlined">
                                            pending_actions
                                        </span>
                                    </div>
                                    <div class="center-all">
                                        <%=faculty2res%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div id="details">
                <div class="sections" style="border-right:1px solid var(--gray-200);">
                    <div id="section-headers1">Quick Find</div>
                    <div class="links" onclick="IIITD()">IIIT Dharwad</div>
                    <div class="links" onclick="About()">About IIIT Dharwad</div>
                    <div class="links" onclick="Acedemics()">Acedemics</div>
                    <div class="links" onclick="AIMS()">AIMS Portal</div>
                </div>
                <div class="sections">
                    <div class="section-headers">Contact Us</div>
                    <div class="links">
                        <span class="material-symbols-outlined">
                            home
                            </span>
                    </div>
                    <div class="links1">IIIT Dharwad Campus, Ittigatti Road, Near Sattur Colony, Dharwad 580009</div>
                    <div class="links">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                            </span>
                    </div>
                    <div class="links1">0836 2250879, 9449732959</div>
                </div>
                <div class="sections1" style="border-left:1px solid var(--gray-200);">
                    <div class="section-headers">Social Links</div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="youtube()">
                            <i class="fa fa-youtube-play yt" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="youtube()">
                            YouTube
                        </div>
                    </div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="twitter()">
                            <i class="fa fa-twitter twt" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="twitter()">
                            Twitter
                        </div>
                    </div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="facebook()">
                            <i class="fa fa-facebook fb" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="facebook()">
                            Facebook
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div id="footer-img"></div>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();

          function IIITD() {
            window.open(
            "https://iiitdwd.ac.in", "_blank");
        }

        function facebook() {
            window.open(
                "https://www.facebook.com/pages/category/Interest/IIIT-Dharwad-107055984131970/","_blank");
        }

        function youtube(){
            window.open(
                "https://www.youtube.com/channel/UCVvvR0-TvLQOJehUPkQ_Cwg","_blank");
        }

        function twitter(){
            window.open(
                "https://twitter.com/dharwad_iiit?lang=en","_blank");
        }

        function About() {
            window.open(
            "https://iiitdwd.ac.in/about.php", "_blank");
        }
        function Acedemics() {
            window.open(
            "https://iiitdwd.ac.in/academics.php", "_blank");
        }
        function AIMS() {
            window.open(
            "https://aims.iiitdwd.ac.in/aims/", "_blank");
        }
        </script>
    </body>
</html>
